@model IEnumerable<CapaModelo.Pacientes>

<!doctype html>
<html>
<head>
    <script src="~/Scripts/Project/JS/jsPaciente.js"></script>
</head>
<body>
    <br />
    <button type="button" class="btn btn-light">
        @Html.ActionLink("Agregar Paciente", "Agregar_Paciente", "Home")
    </button>
    <br /><br />
    <div class="form-inline">
        <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Buscar Paciente...">
    </div>
    <br />
    <div class="row">
        <table id="tabPaci" class="table table-striped table-bordered table-hover table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido Paterno
                    </th>
                    <th>
                        Apellido Materno
                    </th>
                    <th>
                        Domicilio
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Fecha de Nacimiento
                    </th>
                    <th>
                        Sexo
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido_paterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido_materno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.domicilio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.celular)
                        </td>
                        @{
                            String fecha = item.fecha_nacimiento.ToShortDateString();
                        }
                        <td>
                            @Html.DisplayFor(modelItem => fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sexo)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary form-control ActPaci" data-target="@item.idpaciente">Actualizar</button>
                            <button type="button" class="btn btn-success form-control DetPaci" data-target="@item.idpaciente">Detalles</button>
                            <button style="display: none" type="button" class="btn btn-danger form-control EliPaci" data-target="@item.idpaciente">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <input type="hidden" id="urlPacientes" value="@Url.Action("Pacientes","Home")" />
    <input type="hidden" id="urlDetPaci" value="@Url.Action("DetallesPaciente","Home")" />
    <input type="hidden" id="urlModiPaci" value="@Url.Action("ModificaPaciente","Home")" />
    <input type="hidden" id="urlEliPaci" value="@Url.Action("EliminaPaciente","Home")" />
</body>
</html>

