@model IEnumerable<CapaModelo.Usuarios>


<!doctype html>
<html>
<head>
    <script src="~/Scripts/Project/JS/jsUsuario.js"></script>
</head>
<body>
    <br />
    <button id="AgUs" type="button" style="display:none" class="btn btn-light">
        @Html.ActionLink("Agregar Usuario", "Agregar_Usuario", "Home")
    </button>
    <br />
    <div class="row">
        <table id="tabUsu" class="table table-striped table-bordered table-hover table-responsive">
            <thead>

                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido Paterno
                    </th>
                    <th>
                        Apellido Materno
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Tipo de Usuario
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ap_paterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ap_materno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary form-control ActUsu" data-target="@item.idusuario">Actualizar</button>
                            <button type="button" class="btn btn-success form-control DetUsu" data-target="@item.idusuario">Detalles</button>
                            <button type="button" style="display: none" class="btn btn-danger form-control EliUsu" data-target="@item.idusuario">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <input type="hidden" id="urlUsuarios" value="@Url.Action("Usuarios","Home")"/>
    <input type="hidden" id="urlDetUsu" value="@Url.Action("DetallesUsuario","Home")"/>
    <input type="hidden" id="urlModiUsu" value="@Url.Action("ModificaUsuario","Home")"/>
    <input type="hidden" id="urlEliUsu" value="@Url.Action("EliminaUsuario","Home")"/>
</body>
</html>